<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LMAO</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
</head>

<body>
    <nav>
        <div class="navbar">
            <h1><a class="logo" href="https://www.google.com/search?q=Home">Home</a></h1>
            <div class="nav-links">
                <a href="lebron" id="smalllogo">Lebron</a>
                <a href="songfinder">Woah</a>
                <a href="https://www.google.com/" id="smalllogo3">Settings</a>
            </div>
        </div>
    </nav>
    <h1>Test document</h1>
    <hr>
    <div class="body">
        <p class="subheader">This is a test html website to test elements I can implement for my program using flask,
            focusing on the visual side [HTML and CSS].</p>
        <div id="square">Placeholder</div>
        <div id="square">Placeholder</div>
        <div id="square">Placeholder</div>
    </div>
    <div></div>
</body>

</html>